.header{
    height: 100%;
    box-shadow: $box-shadow;
}
.ad{
    height: 80px;
    width: 100%;
    background-image: url('../../public/ads/adsdua.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    // background-position: 50% 50%;
}


//Top-----------------------------
.top{
    background: #f8f8f8;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    &__container{
        max-width: 95%;
        margin:0 auto;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }&__list{
        display: flex;
        gap: 15px;
        li{
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 4px;
            color: #666;
            cursor: pointer;
            .flex{
                display: flex;
                align-items: center;
                gap: 5px;
                svg{
                    transform: scale(1.2);
                    margin-right: 3px;
                }
            }
            svg{
                width: 20px;
                height: 20px;
                fill: #ccc;
            }
            span{
                font-size: 15px;
            }
            &::after{
                content:"";
                position: absolute;
                right: -8px;
                top: 50%;
                transform: translateY(-50%);
                width: 1px;
                height: 20px;
                background: #ccc;
            }
            &:last-of-type{
                &::after{
                    display: none;
                }
            }
            &:hover{
                span{
                    color: #2d2d2d;
                }
            }
        }
    }
}