.button{
    position: relative;
    border: none;
    outline: none;
    width: 220px;
    height: 55px;
    font-weight: 600;
    color: #fff;
    background: $blue-color;
    display: flex;
    border-radius: 55px;
    cursor: pointer;
    justify-content: center;
    text-align: center;
    align-items: center;
    span{
        justify-content: center;
        justify-items: center;
        text-align: center;
    }
    &:hover{
        background: #fff;
        color: $blue-color;
    }
    .svg__wrap{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: grid;
        place-items: center;
        position: absolute;
        top: 7.5px;
        right: 5px;
        background: $grey-color;
        svg{
            fill: $blue-color;
        }
        &:hover{
            background: $blue-color;
            svg{
                fill: #fff;
            }
        }
    }
}