.main{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    gap: 10px;
    grid-template-areas: 
    "menu header header"
    "menu swipper user"
    "menu offers user";
    

    .menu{
        grid-area: menu;
        height: 580px;
        background: #fff;
        border-radius: 10px;
        box-shadow: $shadow-1;
    }
    .header{
        grid-area: header;
        height: 40px;
        background: #fff;
        border-radius: 10px;
        box-shadow: $shadow-1;
    }
    .swipper{
        grid-area: swipper;
        height: 300px;
        background: #fff;
        border-radius: 10px;
        box-shadow: $shadow-1;
    }
    .offers{
        grid-area: offers;
        background: #fff;
        border-radius: 10px;
        box-shadow: $shadow-1;
        height: 220px;

        overflow: hidden;
        background-image: url('../../../public//image/fleshSale.jpg');
        background-position: -40px;
        background-size: 600px;
        background-color: #0653b6;
        background-repeat: no-repeat;


    }
    .user{
        grid-area: user;
        height: 530px;
        background: #fff;
        border-radius: 10px;
        box-shadow: $shadow-1;
    }
}
