$box-shadow :20px 20px 80px #bebebe,
-20px -20px 80px #ffffff;
$blue-color: #2f82ff;
$grey-color: #f8f8f8;
$yellow-color: #ffd300;
$redish-color: #f35b69;
$light-error-color: #fd010169;
$error-color: #ed4337;
$sucess-color: #6cc070;
$shadow-1: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
$shadow-2: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

.container {
    max-width: 1700px;
    margin: 0 auto;
    padding: 1rem;
}

.btn_primary {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    background: $blue-color;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    width: 100%;
    border-radius: 2px;
}

.btn_outlined {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    color: $blue-color;
    background: $grey-color;
    font-weight: 600;
    cursor: pointer;
    width: 100%;
    border-radius: 2px;
}


// ======================= swipper

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper {
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

.mainSwiper,
.user__swiper,
.flashDeals__swiper,
.offers_swipe {

    .swiper {
        border-radius: 10px !important;
        overflow: hidden !important;
    }

    .swiper-slide img {
        border-radius: 10px !important;
        box-shadow: $shadow-1;
        height: 300px !important;
    }

    .swiper-pagination-bullet {
        width: 9px !important;
        border-radius: 5px !important;
    }

    .swiper-pagination-bullet-active {
        background: $blue-color !important;
        background: #ffff !important;
        width: 13px !important;
    }

    .swiper-button-prev,
    .swiper-button-next {
        color: #fff !important;
        transform: scale(0.5) !important;
        width: 50px !important;
        height: 80px !important;
        transition: 0.2s;
        background: rgba(102, 102, 102, 0.354) !important;
        // display: none;
        place-items: center;
    }

    .swiper-button-prev {
        background: rgba(102, 102, 102, 0.354) !important;
        left: -13px;
    }

    .swiper-button-next {
        background: rgba(102, 102, 102, 0.354) !important;
        right: -13px;
    }
}

.offers_swiper {
    max-width: 420px;
    transform: translateX(33%);

    .swiper-pagination {
        display: none;
    }

    .swiper {
        width: 100%;
        height: 100%;
    }

    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;

        /* Center slide text vertically */
        display: flex;
        justify-content: center;
        align-items: center;
        width: 150px;
        border-radius: 10px !important;
        height: 90% !important;
        margin-top: 0.6rem !important;
        box-shadow: $shadow-1;

        &:hover {
            transform: scale(1.03);
            transition: 0.2s;
        }
    }

    span {
        position: absolute;
        color: #fff;

        &:first-of-type {
            bottom: 10px;
            width: 90px;
            height: 25px;
            border-radius: 50px;
            font-size: 14px;
            font-weight: 600;
            background: #0653b6;
        }

        &:last-of-type {
            font-style: italic;
            top: -5px;
            right: -5px;
            height: 40px;
            width: 40px;
            border-radius: 50%;
            background-color: $error-color;
            font-size: 14px;
            display: grid;
            place-items: center;
        }
    }

    .swiper-slide img {
        position: absolute;
        top: 0 !important;
        left: 0;
        display: block !important;
        width: 100%;
        height: 100% !important;
        object-fit: cover;
    }
}

.user__swiper {
    position: relative;
    width: 220px;

    .swiper-slide {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 18px;
        font-size: 22px;
        font-weight: bold;
        color: #fff;

        img {
            height: 240px !important;
        }
    }
}

// ======================= swipper